.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ededed;
	padding: 20px 100px;
}

.nav .logo {
	display: block;
	width: 150px;
	height: auto;
}

.nav .nav-links {
	display: flex;
	list-style-type: none;
	gap: 40px;
	padding: 0;
}

.nav .nav-link {
	color: rgba(0, 0, 0, 0.55);
	text-decoration: none;
	font-family: "Roboto", sans-serif;
}

.nav .nav-active {
	font-weight: bolder;
	color: #191c29;
}

@media (max-width: 768px) {
	.nav {
		padding: 10px 10px;
	}

	.nav .logo {
		width: 110px;
		margin-left: 0;
	}

	.nav .nav-links {
		display: none;
	}
}