.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row ul {
  list-style: none;
  padding-left: 0rem;
}

.footer {
  background-color: #1b1b1b;
  padding: 70px 0;
  margin-top: auto;
}

.footer-col {
  width: 22%;
}

.footer-col h4 {
  font-size: 18px;
  color: #ededed;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #4ebafe;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ededed;
  text-decoration: none;
  font-weight: 300;
  color: #e8e8e8;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ededed;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #707070;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ededed;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #373740;
  background-color: #ededed;
}

.footer-col .social-links a svg {
  width: 25px;
  margin-bottom: -6px;
  margin-left: 1px;
}

#facebookEdit {
  width: 23px;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    padding-left: 62px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    padding-left: 23px;
  }
}